c_Active = #B13631;
c_Highlight = #D75B5B;

m_StackedBreakpoint = 600px;

font-feature-settings(prop, value=1) {
  -webkit-font-feature-settings: prop value;
  -ms-font-feature-settings: prop value;
  -o-font-feature-settings: prop value;
  font-feature-settings: prop value;
}

.interactive svg {
  width: 100%;
  height: 500px;
  height: 80vh;
}

.chart-pair {
  overflow: hidden;
  
  .interactive {
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  
  p {
    margin-left: 50%;
  }
  .narrow {
    display: none;
  }
  
  @media (max-width: m_StackedBreakpoint) {
    .interactive {
      width: 100%;
      float: none;
    }
    
    p {
      margin-left: auto;
    }
    .wide {
      display: none;
    }
    .narrow {
      display: initial;
    }
  }
}


.line-group {
  position: relative;
  z-index: 1;
  
  .label {
    opacity: 0;
  }
  
  &.active {
    .label {
      opacity: 5;
    }
  }
}

.median-line {
  stroke: #5E5959;
  stroke-width: 1;
  stroke-dasharray : 10 4 2 4;
}

.item {
  // stroke: #B7B4B4;
  transition: stroke 250ms ease-out;
  
  .highlight & {
    stroke : c_Highlight;
  }
  
  .active & {
    stroke: c_Active;
  }
}

.dot {
  .highlight & {
    fill : c_Highlight;
  }

  .active & {
    fill : c_Active;
  }
}

.hoverline {
  fill: transparent;
  stroke: transparent;
  stroke-width: 0;
}

.label {
  @extend .sans;
  fill: #353131;
  transition: opacity 250ms ease-out;
  font-size: 16px;
  
  user-select: none;
  cursor: default;
}

.leftlabel, .rightaxislabel {
  text-anchor: end;
}

.centerlabel {
  text-anchor: middle;
}

.mainlinelabel {
  font-weight: 700;
}

.rightlabel, .leftaxislabel {
  text-anchor: start;
}

.mainlabel {
  font-style: italic;
}

.unitlabel {
  font-style: italic;
}

.speciallabel {
  -moz-font-feature-settings: "smcp" 1;
  -moz-font-feature-settings: "smcp=1";
  font-feature-settings: "smcp" 1;
}
