c_Active = #B13631;
c_Highlight = #D75B5B;

m_StackedBreakpoint = 600px;

back-color-no-hover(col) {
  background-color: col;
  &:hover { background-color: col; }
}

font-feature-settings(prop, value=1) {
  -webkit-font-feature-settings: prop value;
  -ms-font-feature-settings: prop value;
  -o-font-feature-settings: prop value;
  font-feature-settings: prop value;
}

.smallcaps {
  -moz-font-feature-settings: "smcp" 1;
  -moz-font-feature-settings: "smcp=1";
  font-feature-settings: "smcp" 1;
}

.interactive svg {
  width: 100%;
  height: 500px;
  height: 70vh;
}

.rule {
  stroke : #8A8585;
  stroke-width: 0.5;
}

.triple-chart {
  margin-top: 3em;
  
  h4 {
    margin: 0 auto 0.5em;
    // @extend .intro-text;
    padding: 0 35px; // to match the labels on the chart
  }

  svg {
    width: 100%;
    height: 300px;
    min-height: 300px;
    height: 50vh;
  }
}

.chart-pair {
  overflow: hidden;
  
  .left {
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  .narrow {
    display: none;
  }
  
  @media (max-width: m_StackedBreakpoint) {
    .interactive {
      width: 100%;
      float: none;
    }
    
    p {
      margin-left: auto;
    }
    .wide {
      display: none;
    }
    .narrow {
      display: initial;
    }
  }
}


.line-group {
  position: relative;
  z-index: 1;
  
  .label {
    opacity: 0;
  }
  
  &.active {
    .label {
      opacity: 5;
    }
  }
}

.median-line {
  stroke: #5E5959;
  stroke-width: 1;
  stroke-dasharray : 10 4 2 4;
}

.item {
  // stroke: #B7B4B4;
  transition: stroke 250ms ease-out;
  
  .highlight & {
    stroke : c_Highlight;
    
    &.blind-left {
      stroke : url('#gradient-highlight-left');
    }
    &.blind-right {
      stroke : url('#gradient-highlight-right');
    }
  }
  
  .active & {
    stroke: c_Active;
    
    &.blind-left {
      stroke : url('#gradient-active-left');
    }
    &.blind-right {
      stroke : url('#gradient-active-right');
    }
  }
}

.dot {
  .highlight & {
    fill : c_Highlight;
  }

  .active & {
    fill : c_Active;
  }
}

.hoverline {
  fill: transparent;
  stroke: transparent;
  stroke-width: 0;
}

.label {
  @extend .sans;
  fill: #353131;
  transition: opacity 250ms ease-out;
  font-size: 16px;
  
  user-select: none;
  cursor: default;
}

.leftlabel, .rightaxislabel {
  text-anchor: end;
}

.centerlabel {
  text-anchor: middle;
  text-shadow: 0 0 1px #DFE2E6;
}

.mainlinelabel {
  font-weight: 700;
}

.rightlabel, .leftaxislabel {
  text-anchor: start;
}

.mainlabel {
  font-style: italic;
}

.extendedlabel {
  text-anchor: middle;
}

.subheadlabel {
  @extend .smallcaps;
}

.unitlabel {
  font-style: italic;
}

.speciallabel {
  @extend .smallcaps;
}

m_chartlinkVPadding = 0px;
m_chartlinkHPadding = .33em;
.chartlink {
  color: inherit;
  
  margin: -1 * m_chartlinkVPadding 0;
  border-radius: m_chartlinkHPadding;

  text-decoration: none;

  transition: color 250ms ease-out,
      background-color 250ms ease-out;
  &.active {
    background-color: c_Highlight;
    &:hover {
      background-color: c_Highlight;
      color: inherit;
    }
    
    &[data-state="proportion-gap"] {
      back-color-no-hover: #75AEDC;
    }
    &[data-state="income-gap"] {
      back-color-no-hover: #77B479;
    }
    &[data-state="proportion-income"] {
      back-color-no-hover: #D0A95C;
    }
  }
}

.topgraph-link {
  @extend .chartlink;
  background-color: #C3C1C1;
  padding: m_chartlinkVPadding m_chartlinkHPadding;
  
  &:hover {
    background-color: #F18788;
    
    &[data-state="proportion-gap"] {
      background-color: #A7D2F1;
    }
    &[data-state="income-gap"] {
      background-color: #A8D4A1;
    }
    &[data-state="proportion-income"] {
      background-color: #F2CE88;
    }
  }
  
}

.topgraph-active, .graph-active {
  @extend .chartlink;
  color: c_Active;

  &:hover {
    background-color: c_Active;
    color: white;
  }
}
